<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.web>
        <customErrors mode="Off"/>
    </system.web>
   <system.webServer>
      <httpProtocol>
         <customHeaders>
            <clear />
            <remove name="X-Frame-Options" />
            <remove name="X-Content-Type-Options" />
            <remove name="X-Powered-By" />
            <add name="X-Frame-Options" value="SAMEORIGIN" />
            <add name="Server" value="Webserver" />
            <add name="X-Content-Type-Options" value="nosniff" />
            <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
            <add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0" />
            <add name="Pragma" value="no-cache" />
            <add name="Expires" value="0" />
            <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
         </customHeaders>
      </httpProtocol>
      <directoryBrowse enabled="false" />
      <security>
         <requestFiltering removeServerHeader="true">
            <verbs allowUnlisted="false">
               <clear />
               <add verb="GET" allowed="true" />
            </verbs>
         </requestFiltering>
      </security>
      <rewrite>
            <rules>
                <rule name="Foliosure_APP" stopProcessing="true">
                  <match url=".*"/>
                  <conditions logicalGrouping="MatchAll">
                     <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                     <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  </conditions>
                  <action type="Rewrite" url="./"/>
               </rule>
            </rules>
        </rewrite>
   </system.webServer>
</configuration>
