.highcharts-credits {
    display: none !important;
}

.chart-background {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 12px #00000014;
    border-radius: 4px;
    opacity: 1;
    padding: 16px 24px;
}

.chart-title {
    letter-spacing: 0.17px;
    color: #55565A;
    opacity: 1;
    font-family: "Helvetica Neue LT W05_65 Medium",Arial, Verdana, Tahoma,sans-serif;
}