@import "../../../../variables";
.header {
    .link {
        padding: 2px;
        .circle {
            position: absolute;
            right: 6px;
            top: 6px;
            background-color: $nep-highlighter;
            border-radius: 80%;
            width: 8px;
            height: 8px;
        }
    }
}

.mark-dot {
    width: 10px;
    height: 10px;
    opacity: 1;
    border-radius: 60%;
    cursor: pointer;
    display: inline-block;
    float: right;
    margin-top: 5px;
}

.mark-unread-dot {
    background: $nep-primary 0% 0% no-repeat padding-box;
}

.mark-read-dot {
    background: $nep-read-color 0% 0% no-repeat padding-box;
}

.mark-read-all {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.sidebar-users {
    letter-spacing: 0px;
}

.sidebar-padding {
    padding-right: 1.25rem !important;
    padding-left: 1.25rem !important;
    padding-top: 16px;
    padding-bottom: 12px;
}

.notification-h1 {
    padding-top: 2px;
    color: $nep-black;
}
.circle-container
{
    overflow: hidden;
    position: relative;
}
.arrow-image {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 2px;
    transform: translate(-50%, -50%);
}
.expand-doc {
    a {
        padding-top: 2px;
    }
}
.excel-plugin-container {
    display: inline-flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #021155;
    background: #FFF;

    .excel-icon-container {
        display: flex;
        padding: 2px;
        justify-content: center;
        align-items: center;
    }

    .excel-text {
        font-size: 14px !important;
        font-weight: 400;
        color: #021155;
    }
}
.opened {
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 2px 12px 0px rgba(113, 113, 113, 0.29);
}
.excelPlugin-menu {
    width: 125px !important;
}
@keyframes spin {
    0% { transform: rotate(Odeg);}
    100% { transform: rotate(360deg);}
}

.img-spinner {
    animation: spin 0.5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
 

 @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

.excel-plugin-load {
	width: 14px;
    height: 14px;
    margin: 10px auto 0;
    border: solid 2px #021155;
    border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	 -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    	
    	 transition: all 0.5s ease-in;
    animation-name:             rotate; 
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear;
    margin-top: 4px; 
}