@import "../../../../variables";
.access-section {
    border: 1px solid $nep-divider;
    background: $nep-white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px $nep-shadow-color;
    border-radius: 4px;
    .tabradius {
        border-radius: 0px 4px 0px 0px;
        border-right: 1px solid $nep-nav-tab-border-color !important;
        background: $nep-base-grey 0% 0% no-repeat padding-box;
    }
    .group-search {
        margin-top: 0px;
    }
    .active {
        background-color: $nep-base-grey !important;
        font-family: "Helvetica Neue LT W05_65 Medium",Arial, Verdana, Tahoma,sans-serif !important;
        color: $nep-primary !important;
    }
    .search-section {
        border-bottom: 1px solid $nep-divider;
    }
    .btn-nep-default {
        background: $nep-white 0% 0% no-repeat padding-box;
        &:focus,
        &:hover {
            border-color: $nep-primary !important;
        }
    }
    .right-section {
        padding-left: 12px;
        .tabs-shadow {
            box-shadow: 0px 4px 6px $nep-shadow-color !important;
        }
        .tabradius {
            border-radius: 4px;
            margin: -2px;
            border-right: none !important;
            border-left: 1px solid $nep-nav-tab-border-color;
        }
        .border {
            border: 1px solid $nep-nav-tab-border-color;
            border-right: none !important;
        }
        .group-search {
            border-bottom: 1px solid $nep-divider;
        }
        .content-section {
            background: $nep-white 0% 0% no-repeat padding-box;
        }
        .group-right-sec {
            padding: 12px 16px;
            background: $nep-base-grey 0% 0% no-repeat padding-box;
            border-top: 1px solid $nep-divider;
            border-bottom: none;
            border-left: none;
            border-radius: 0px 0px 0px 4px;
            opacity: 1;
        }
    }
    button[disabled] {
        position: relative !important;
        box-shadow: none !important;
        cursor: not-allowed !important;
    }
    .btn-nep-primary {
        background: $nep-primary 0% 0% no-repeat padding-box;
        text-align: left;
        letter-spacing: 0px;
        color: $nep-white !important;
        &:focus,
        &:hover {
            border-color: $nep-primary !important;
        }
    }
    .nav-tabs .nav-link {
        top: 1px !important;
        background: $nep-white;
        color: $nep-text-grey;
    }
    .nav-tabs .nav-link:hover {
        border-color: none !important;
    }
    .collapse-text {
        margin-top: 1px;
    }
    .collapse-icon {
        cursor: pointer;
    }
}

button {
    border: 1px solid $nep-primary;
    border-radius: 4px;
    font-family: "Helvetica Neue LT W05_55 Roman",Arial, Verdana, Tahoma,sans-serif !important;
}