<div class="row">

    <div class="col-lg-12">
        <div class="add-user-component">

            <div class="card card-main">
                <div class="card-header card-header-main">
                    <div class="row">
                        <div class="col-auto mr-auto "> {{title}} KPI</div>
                        <div class="col-auto">
                            <a class="btn btn-back" [routerLink]="['/kpi-list', {type:kpiType}]" title="Back"> <i aria-hidden="true" class="fa fa-list"></i> KPIs</a>
                        </div>

                    </div>

                </div>
                <div class="card-body">
                    <form name="form" (ngSubmit)="f.valid && createModelForSaveKPI(f)" #f="ngForm">

                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-12">
                                            <label for="sector">KPI Type</label>
                                        </div>
                                        <div class="col-12">
                                            <div>
                                                <typeahead-control name="kpitype" [(ngModel)]="model.kpiType" [optionList]="kpiTypes" [displayField]="'type'" #kpitype="ngModel" [isRequired]="true" [disabled]="forUpdate" (selectItem)="onKPIChange()"></typeahead-control>
                                                <div *ngIf="title=='Create' && (f.submitted || kpitype.dirty) && !kpitype.valid" class="text-danger">KPI type is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-4" *ngIf="model.kpiType!=undefined && model.kpiType.type=='Sector'">
                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-12">
                                            <label for="sector">Sector</label>
                                        </div>
                                        <div class="col-12">

                                            <div>
                                                <typeahead-control name="sector" [(ngModel)]="model.sectorDetail" [optionList]="sectorList" [displayField]="'sector'" #sector="ngModel" [isRequired]="true"></typeahead-control>
                                                <div *ngIf="(f.submitted || sector.dirty) && !sector.valid" class="text-danger">Sector is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4" *ngIf="model.kpiType!=undefined && model.kpiType.type=='Company'">
                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-12">
                                            <label for="parentKPI">Parent KPI</label>
                                        </div>
                                        <div class="col-12">
                                            <div>
                                                <typeahead-control name="parentKPI" [(ngModel)]="model.parentKPIDetails" [optionList]="parentKPIList" [displayField]="'kpi'" #parentKPI="ngModel" [isAscendingOptions]="false"></typeahead-control>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-12">
                                            <label for="KPI">KPI</label>
                                        </div>
                                        <div class="col-12">
                                            <input type="text" class="form-control" name="KPI" [(ngModel)]="model.kpi" #KPI="ngModel" validateRequired autocomplete="off" maxlength="200" />
                                            <div *ngIf="KPI.invalid && (KPI.dirty|| f.submitted)" class="text-danger">

                                                <p *ngIf="KPI.errors.validateRequired">KPI is required</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-12">
                                            <label for="KPI">KPI Info</label>
                                        </div>
                                        <div class="col-12">
                                            <input type="text" class="form-control" name="KpiInfo" [(ngModel)]="model.kpiInfo" #KpiInfo="ngModel" autocomplete="off" maxlength="20" />


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-12">
                                            <label for="Description"> Description</label>
                                        </div>
                                        <div class="col-12">
                                            <textarea type="text" class="form-control" rows="4" name="Description" [(ngModel)]="model.description" #Description="ngModel" autocomplete="off" maxlength="500"></textarea>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group text-center">
                                    <div class="loading-input-controls-manual" *ngIf="loading"><em class="fa fa-spinner fa-pulse fa-1x fa-fw"></em></div>
                                    <button [disabled]="loading" class="btn btn-primary" title="{{title}}">{{title}}</button>
                                    <input type="button" value="{{resetText}}" title="{{resetText}}" (click)="formReset(f)" class="btn btn-warning" />

                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>