.btn-preview:disabled, .btn-clear1:disabled, .btn-export:disabled, .btn-reset:disabled, .btn-primary:disabled, .btn-warning:disabled {
    color: #fff !important;
    background-color: #021155 !important;
    cursor:not-allowed !important;
}