.p-action-padding {
    padding: 0px 8px 0px 12px;
}
.p-add-padding {
    padding: 0px 0px 0px 16px;
}
.col-divider {
    border-right: 1px solid #DEDFE0;
}
.search-text-company {
    height: 32px !important;
    font-size: 12px !important;
}
.fasearchicon
{
    top:4px !important;
}
.pref-icon
{
    padding-right: 12px !important;
}
.plus-btn
{
    margin-top: -33px;
    padding-right: 16px;
}
.search-tr-popup{
    border-radius: 0px!important;
    border-right: none !important;
    height:36px !important;
}