<div class="row">

    <div class="col-lg-12">
        <div class="add-query-component">

            <div class="card card-main">

                <div class="card-body">
                    <div class="card-body">
                        <div *ngIf="masterModel==undefined">
                            <img alt="" src="assets/dist/images/loading.gif" class="loading-img" />
                        </div>
                        <form name="form" class="padd-0" (ngSubmit)="f.form.valid && saveQuery(f)" #f="ngForm" novalidate *ngIf="masterModel!=undefined">
                            <div class="row">

                                <div class="col-12">
                                    <h5> Query Details</h5>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !queryCode.valid }">
                                                <div class="row">

                                                    <div class="col-12">
                                                        <label for="queryCode">Query Name</label>
                                                    </div>
                                                    <div class="col-12 col-lg-6 col-xl-5">
                                                        <input type="text" class="form-control" name="queryCode" [(ngModel)]="model.queryCode" #queryCode="ngModel" inputValidator="validatePersonName" autocomplete="off" maxlength="200" validateRequired />
                                                        <div *ngIf="queryCode.invalid && (queryCode.dirty|| f.submitted)" class="text-danger">
                                                            <p *ngIf="queryCode.errors.validateRequired">Please enter query name</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
                                                <div class="row">

                                                    <div class="col-12">
                                                        <label for="description">Description</label>
                                                    </div>
                                                    <div class="col-12 col-lg-6 col-xl-10 padd-lr-10">
                                                        <textarea type="text" class="form-control" name="description" [(ngModel)]="model.description" #description="ngModel" autocomplete="off" maxlength="500"></textarea>
                                                        <div *ngIf="!description.valid && (description.dirty||f.submitted)" class="text-danger">
                                                            <p *ngIf="(description.dirty) || description.errors.validateRequired">Please enter description</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-xl-12">
                                    <div class="form-group">
                                        <div class="row">

                                            <div class="col-12">
                                                <label for="query">Sql Query</label>
                                            </div>
                                            <div class="col-12 col-xl-10 padd-lr-10">
                                                <div class="box-query">
                                                    <textarea type="text" class="form-control query-height" id="query" name="query" #query autocomplete="off" maxlength="500">{{model.query}}</textarea>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-xl-12">
                                                        <div class="shadow-none p-1 bg-light rounded">
                                                            <div class="row">
                                                                <div class="col-12 col-xl-6">
                                                                    <div class="{{SqlMessageClass}}" *ngIf="showSqlError">
                                                                        <div><span class="sql-ex">{{sqlException}}</span></div>

                                                                    </div>
                                                                </div>
                                                                <div class="col-12 col-xl-6 text-right">
                                                                    <i> Note: Press 'Ctrl-Space' to autocomplete SQL query.</i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                            <div class="=row">
                                <div class="row text-center">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="loading-input-controls-manual" *ngIf="loading"><i aria-hidden="true" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i></div>
                                            <input type="button" value="Preview Query Result" title="Preview Query Result" (click)="queryPreview(f)" [disabled]="previewEnableDisable()" class="btn btn-preview query-result" />
                                            <input type="button" value="Clear SQL Editor" title="Clear SQL Editor" (click)="editorClean(f)" [disabled]="loadClean" class="btn btn-clear1 query-clear" />
                                            <button [disabled]="loadSave" class="btn btn-primary query-primary" title="{{title}}">{{title}}</button>
                                            <button title="Export Query Result(Excel file)" (click)="queryExport(f)" [disabled]="loadExport" class="btn btn-export query-export">Export Query Result <i aria-hidden="true" class="fa fa-file-excel-o"></i></button>
                                            <input type="button" value="{{resetText}}" title="{{resetText}}" (click)="formReset(f)" [disabled]="loading" class="btn btn btn-warning" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngFor="let report of reportData">
                                <div class="col-sm-12 scroll-table m-2">
                                    <p-table styleClass="p-datatable-gridlines" [columns]="report.cols" [value]="report.Results" [rows]="50" [paginator]="true" [totalRecords]="report.Results.length">
                                        <ng-template pTemplate="header" let-columns>
                                            <tr>
                                                <th scope="col" *ngFor="let col of columns">
                                                    {{col.header}}
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                                            <tr>
                                                <td *ngFor="let col of columns">

                                                    {{rowData[col.field]===null? 'Null':rowData[col.field]}}
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage" let-columns>
                                            <tr>
                                                <td [attr.colspan]="columns.length">
                                                    No records found
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>