<div class="portfolio-detail-component" (resized)="onResized($event)">
    <div class="row mr-0 ml-0">
        <div class="col-lg-12 col-sm-12 pl-0 pr-0">
            <div class="chart-area section1-height chart-section-height">
                <div class="row mr-0 ml-0">
                    <div class="col-4 col-lg-4 col-sm-4 col-md-4 col-xl-4 p-3" [hideIfUserUnAuthorized]='{subFeatureId:subFeature.CompanyKPIs,action:actions[actions.canView],id:id}'>
                        <p-dropdown   name="companyKPI"
                        class="custom-p-dropdown access-subfeature custom-searchable-dropdown icon-dropdown report-custom-dropdown chart-dropdown"
                        [options]="companyKPIList" optionLabel="displayName"  
                        [(ngModel)]="selectedCompanyKPI" (onChange)="OnCompanyKPIChange()">
                        <ng-template let-object pTemplate="item">
                            <div tooltipPosition="top"
                            tooltipStyleClass="bg-tooltip-report"
                            [pTooltip]="object?.parentkpi"
                                class="custom-ui-label custom-delete-hover custom-zindex-parent">
                                <span title="{{object?.displayName}}"
                                    class="img-pad TextTruncate">
                                    {{object.displayName}}

                                </span>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    </div>
                    <div class="col-8"></div>
                </div>
                <div class="chart-bg">
                    <div>
                        <div class="row mr-0 ml-0">
                            <div class="col-sm-12 pl-0 pr-0">
                                <div class="text-info mt-3">
                                    <app-empty-state *ngIf="isNoData" [isGraphImage]="true"></app-empty-state>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <!----Chart space---->
                    <div class="row mr-0 ml-0 pt-3" *ngIf="chartData.length>0">
                        <div class="col-sm-12 pl-0 pr-0">
                            <app-lineBar-chart [isDisplay]="width" [data]="chartData" [xField]="xField" 
                                [yBarFields]="yBarFields" [yLineFieldText]="selectedCompanyKPI['kpiInfo']!= '%' && selectedCompanyKPI['kpiInfo']!= 'x'?'% Change of Value':''" [isScrollBar]="true" [yLineFields]="this.selectedCompanyKPI['kpiInfo']!= '%' && this.selectedCompanyKPI['kpiInfo']!= 'x'?yLineFields:[]" [unit]="companyKpiModuleCurrency" [barColors]="yShades">
                            </app-lineBar-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
