.section-header
{
    letter-spacing: 0.17px;
    color: #212121;
    opacity: 1;
    padding-bottom: 10px;
    padding-top: 10px;
}
.sec-pt-pb
{
    background: #FAFAFB 0% 0% no-repeat padding-box;
    border-bottom: 1px solid #DEDFE0;
}
.map-pc-pt
{
    padding-top: 6px;
}