@import "../../../../../variables";
.group-section {
    .active-subgroup {
        background: #EFF0F9 0% 0% no-repeat padding-box !important;
        .subgroup-icon {
            display: block !important;
        }
    }
    .required-field {
        color: #c62828;
        font-size: 20px;
    }
    .tabradius {
        border-right: 1px solid $nep-nav-tab-border-color !important;
        background: $nep-base-grey 0% 0% no-repeat padding-box;
    }
    .group-search {
        margin-top: 0px;
    }
    .search-section {
        border-bottom: 1px solid $nep-divider;
        margin-top: -1px !important;
    }
    .group-full-sec {
        border-right: 1px solid $nep-divider;
        .group-section {
            background: $nep-base-grey 0% 0% no-repeat padding-box;
            border-bottom: 1px solid $nep-divider;
            padding: 16px 16px;
            padding-bottom: 12px !important;
            .pi {
                padding-right: 12px;
                font-size: 14px;
                cursor: pointer;
            }
        }
        .sub-group-section {
            border-bottom: 1px solid $nep-divider;
            padding: 16px 16px 16px 48px;
            padding-bottom: 12px !important;
            .subgroup-icon {
                display: none;
            }
            .subgroup-text-inActive {
                letter-spacing: 0px !important;
                color: $nep-primary !important;
                opacity: 0.4 !important;
            }
        }
        .sub-group-section:hover {
            cursor: pointer;
            background: $nep-base-grey 0% 0% no-repeat padding-box;
            padding-bottom: 12px !important;
            .subgroup-icon {
                display: block !important;
            }
        }
    }
    .group-add-sec {
        padding: 12px 16px;
        background: $nep-base-grey 0% 0% no-repeat padding-box;
        border: 1px solid $nep-divider;
        border-bottom: none;
        border-left: none;
        border-radius: 0px 0px 0px 4px;
        opacity: 1;
    }
    .btn-nep-default {
        background: $nep-white 0% 0% no-repeat padding-box;
        &:focus,
        &:hover {
            border-color: $nep-primary !important;
        }
    }
    button[disabled] {
        position: relative !important;
        box-shadow: none !important;
        cursor: not-allowed !important;
    }
    .collapse-text {
        margin-top: 1px;
    }
    .collapse-icon {
        cursor: pointer;
    }
    .group-rows {
        padding-bottom: 20px;
        .popupcommon-labelpadding {
            letter-spacing: 0px;
            color: #55565A;
            opacity: 1;
        }
    }
    textarea ::placeholder {
        font-family: "Helvetica Neue LT W05_55 Roman",Arial, Verdana, Tahoma,sans-serif !important;
    }
    textarea {
        height: 48px !important;
        padding-left: 0px !important;
    }
    .kpitext-label {
        padding-left: 0px !important;
    }
    button {
        border: 1px solid $nep-primary;
        border-radius: 4px;
        font-family: "Helvetica Neue LT W05_55 Roman",Arial, Verdana, Tahoma,sans-serif !important;
    }
    img {
        cursor: pointer !important;
    }
}

.nep-card-header {
    border-bottom: none !important;
    padding: 12px 20px;
}

.nep-card-body {
    padding: 20px !important;
}

.desc-icon {
    margin-top: -5px;
    span {
        cursor: pointer;
        .fa {
            color: #75787B;
            font-size: 16px;
            font-weight: normal;
            width: 16px;
            height: 16px;
        }
    }
}