<div class="comment-section">
    <p-overlayPanel appendTo="body" #op [dismissable]="true" [showCloseIcon]="true">
        <textarea class="form-control comment-textarea comment-r" placeholder="{{placeholder}}" autocomplete="off"  rows="4" cols="50" name="comment" [(ngModel)]="value" #comment="ngModel" maxlength="500"></textarea>
        <div class="add-control-btn"><a class="btn btn-clear font-white" (click)="value=''">Clear</a></div>
    </p-overlayPanel>
    <a (click)="op.toggle($event)" class="comment-btn"><i class="fa fa-comments" aria-hidden="true"></i></a>
</div>