<div class="img-align" *ngIf="isHideAuthImage">
    <img class="img_sizefoliosure" src="assets/dist/images/Vector_Unauthorized.svg" alt="Unauthorised Access">
</div>

<div class="img-align img-foliosure" *ngIf="isHideAuthImage"><img class="img_sizelogo" [src]="'assets/dist/images/BEAT_Foliosure_dark_V1.0.svg'" alt="BEAT Foliosure">
</div>
<div class="img-align Unauthcss"> <span><strong>Unauthorized Access.</strong></span>
</div>
<div class="img-align admintxtcss">
    <span>Please contact your administrator.</span>
</div>