.card
{
    border-top: none !important;
    border-left: none !important;
    border-radius: 0px 0px 0px 4px !important;
    border-bottom: none !important;
}
.search-text-company
{
    width: 100% !important;
    border-right: none !important;
    border-left: none !important;
    height: 40px !important;
    padding: 0px 16px 0px 16px !important;
}
.fasearchicon
{
    right: 18px !important;
}
.search
{
    width: 100% !important;
}
.header-bt
{
    border-top: 1px solid #DEDFE0;
}
.company-info-mapping:last-child
{
    border-bottom: none !important;
}
.company-info-mapping
{
    border-bottom: 1px solid #D5D5D5;
    border-right: 1px solid #D5D5D5;
}
.internal-report-mapping:last-child{
border-bottom:1px solid  #D5D5D5 !important;
}