$nep-primary:#021155;
$nep-secondary:#1A237E;
$nep-base-grey:#FAFAFB;
$nep-text-grey:#55565A;
$nep-icon-grey:#75787B;
$nep-info:#00ACC1;
$nep-success:#388E3C;
$nep-error:#C62828;
$nep-warning:#C68700;
$nep-green:#4BD763;
$nep-orange: #FF9300;
$nep-purple:#5755D5;
$nep-blue:#5AC6F9;
$nep-black:#212121;
$nep-white: #FFFFFF;
$nep-white-secondary: #FFF;
$nep-link:#00568F;
$nep-text-color:#ABABAB;
$gray-100:#616161;
$gray-200:#7F7F7F;
$gray-300: #9E9E9E;
$gray-400:$nep-text-color;
$gray-500:#BDBDBD;
$gray-600:#CAC9C7;
$nep-divider:#DEDFE0;
$gray-800: #F0F0F1;
$gray-900: #F5F5F5;
$nep-text-color-dark:#212529;
$nep-deepskyblue:deepskyblue;
$nep-gray-dark:#b6babf;
$nep-light-bg:#fafafa;
$nep-slate-grey:slategrey;
$nep-dark-link:#7e7d7d;
$nep-dark-blue:#0f5ae6;
$nep-dark-thick:#000;
$nep-dark-border:#d6d6d6;
$nep-light-border:#eee;
$nep-text-color-blue:#0028a0;
$nep-light-bg:#f2f2f2;
$nep-skyblue:#2399e5;
$nep-darker-blue:#031b87;
$nep-skyblue-light:#009fdf;
$nep-light-grey:#d5d6da;
$nep-dark-highlight:#186ba0;
$nep-darker-blue-color:#555555;
$nep-blue-border:#019add;
$nep-blue-600:#41b6e6;
$nep-grey-700:#d9d9d9;
$nep-blue-333:#333;
$nep-bg-light:#ebedf0;
$nep-highlighter:#B91F31;
$nep-shadow:#00000029;
$nep-dark-black:#000000;
$nep-shadow-color:#00000014;
$nep-read-color:#DEDFD0;
$nep-light-yellow:#FFECB3;
$nep-font-medium:"Helvetica Neue LT W05_65 Medium",Arial, Verdana, Tahoma,sans-serif;

/*text */

$nep-title-color:$nep-black;
$nep-title-fontsize:24px;
$nep-title-line-height:30px;
$nep-subtitle-color:$nep-text-grey;
$nep-subtitle-fontsize:14px;
$nep-subtitle-line-height:22px;
$nep-body-color:$nep-text-grey;
$nep-body-fontsize:14px;
$nep-body-line-height:20px;
$nep-body-color:$nep-text-grey;
$nep-body-fontsize:14px;
$nep-body-line-height:20px;
$nep-button-color:$nep-text-grey;
$nep-button-fontsize:14px;
$nep-button-primary:#021155;
$nep-button-icon-primary:#3949AB;
$nep-button-disabled:#021155;
$nep-body-line-height:20px;
$nep-link-color:$nep-link;
$nep-link-fontsize:14px;
$nep-link-line-height:20px;
$nep-label-color:$nep-text-color;
$nep-label-fontsize:12px;
$nep-label-line-height:18px;
$nep-font-family: "Helvetica Neue LT W05_55 Roman",Arial, Verdana, Tahoma,sans-serif;
$nep-padding:16px;
$nep-row-active:#E8EAF6;
$nep-panel-color:#333;
$nep-panel-border:#DDD;
$nep-nav-tab:#495057;
$nep-nav-tab-border-color: #dee2e6;
$nep-fullwidth-selector:#ABABB8;
$font-medium:"Helvetica Neue LT W05_65 Medium",Arial, Verdana, Tahoma,sans-serif;
$nep-text-border-bottom:#b7b7b7;
$nep-text-border-color-focus: #ced4da;
$nep-text-placeholder-grey:#78757b;
$nep-button-hover-color:#F7F8FC;