<div class="nep-card-header nep-modal-title confirm-leage-page">
  Unsaved Changes Found
  </div>
  <div class="modal-body clearfix">
    <div class="modal-text">
      <p>You have unsaved changes. If you leave without saving, your changes will be lost. Do you confirm? </p>
    </div>
  </div>
  <div class="nep-card-footer nep-card-right nep-modal-footer">
    <button class="nep-button btn-space nep-button-secondary" (click)="CloseModal('No')">Cancel</button>
    <button class="nep-button btn-space nep-button-primary" (click)="CloseModal('Yes')">Confirm</button>
  </div>